apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
spec:
  type: NodePort
  selector:
    app: flask-app
  ports:
    - protocol: TCP
      port: 80        # The port the service exposes
      targetPort: 5000 # The port the container runs on
      nodePort: 30007 # Static port on the node (30000-32767)
